.project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project__item {
    flex-basis: calc((100% - 60px)/3);
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
    transform: translate(0, 0);
}

.project__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.project-card-list-img {
    display: block;
}

.project__meta {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project__name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project__type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.project__img-wrapper {
    position: relative;
    overflow: hidden;
}

.project__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);
}